body{
    background-color: black;
    color: aliceblue;
}

#div1{
    width: 100%;
    height: 100%; 
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    background-color: rgb(73, 40, 40);
}

.container1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 1px solid white;
    height: 200px;
    margin-top: 25px;
}
.foto{
    width: 15vw;
    height: 20vh;
    background-color: aquamarine;
}

#div2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 1px solid white;
    height: 200px;
    margin-top: 15px;
}

.desenho{
    width: 15vw;
    height: 20vh;
    background-color: rgb(235, 153, 82);
    border-radius: 20px;
}
